@page "/components/buttongroup"

<DocsPage>
    <DocsPageHeader Title="Button Group"
                    SubTitle="A Material Design Button for actions, links and commands">
        <Description>The <CodeInline>Mudbutton</CodeInline> component is a button with material design theme and comes with multiple functions.</Description>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Filled Buttons</Title>
                <Description>Filled Buttons have elevation (box shadow) and is raised on click by default.</Description>
            </SectionHeader>
            <SectionContent Class="button-group-docs-examples" Outlined="true" DisplayFlex="true">
                <ButtonGroupBasicExample />
            </SectionContent>
            <SectionSource Code="ButtonGroupBasicExample" GitHubFolderName="ButtonGroup" />
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader>
                <Title>Vertical Group</Title>
                <Description>Filled Buttons have elevation (box shadow) and is raised on click by default.</Description>
            </SectionHeader>
            <SectionContent Class="button-group-docs-examples" Outlined="true" DisplayFlex="true">
                <ButtonGroupVerticalExample />
            </SectionContent>
            <SectionSource Code="ButtonGroupVerticalExample" GitHubFolderName="ButtonGroup" />
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader>
                <Title>Sizes and Colors</Title>
                <Description>Filled Buttons have elevation (box shadow) and is raised on click by default.</Description>
            </SectionHeader>
            <SectionContent Class="button-group-docs-examples" Outlined="true" DisplayFlex="true">
                <ButtonGroupSizesColorsExample />
            </SectionContent>
            <SectionSource Code="ButtonGroupSizesColorsExample" GitHubFolderName="ButtonGroup" />
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>
