@import '../abstracts/variables';

.mud-button-group-root {
    border-radius: var(--mud-default-borderradius);
    display: inline-flex;
}
.mud-button-group-horizontal {
    .mud-button:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .mud-button:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.mud-button-group-vertical {
    flex-direction: column;

    .mud-button:not(:last-child) {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .mud-button:not(:first-child) {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }
}

.mud-button-group-text {
    .mud-button {
        padding: 6px 8px;
    }

    &.mud-button-group-horizontal {
        .mud-button:not(:last-child) {
            border-right: 1px solid var(--mud-palette-text-primary);
        }
    }

    &.mud-button-group-vertical {
        .mud-button:not(:last-child) {
            border-bottom: 1px solid var(--mud-palette-text-primary);
        }
    }

    @each $color in $mud-palette-colors {
        &.mud-button-group-text-#{$color} {
            .mud-button {
                color: var(--mud-palette-#{$color});
            }

            &.mud-button-group-horizontal {
                .mud-button:not(:last-child) {
                    border-right: 1px solid var(--mud-palette-#{$color});
                }
            }

            &.mud-button-group-vertical {
                .mud-button:not(:last-child) {
                    border-bottom: 1px solid var(--mud-palette-#{$color});
                }
            }
        }
    }
}

.mud-button-group-outlined {
    .mud-button {
        padding: 5px 15px;
        border: 1px solid var(--mud-palette-text-primary);
    }

    @each $color in $mud-palette-colors {
        &.mud-button-group-outlined-#{$color} {
            .mud-button {
                color: var(--mud-palette-#{$color});
                border: 1px solid var(--mud-palette-#{$color});
            }
        }

        &.mud-button-group-horizontal {
            .mud-button:not(:first-child) {
                margin-left: -1px;
            }
        }

        &.mud-button-group-vertical {
            .mud-button:not(:first-child) {
                margin-top: -1px;
            }
        }
    }
}

.mud-button-group-filled {
    box-shadow: var(--mud-elevation-2);

    .mud-button {
        padding: 6px 16px;
    }

    &.mud-button-group-horizontal {
        .mud-button:not(:last-child) {
            border-right: 1px solid var(--mud-palette-divider);
        }
    }

    &.mud-button-group-vertical {
        .mud-button:not(:last-child) {
            border-bottom: 1px solid var(--mud-palette-divider);
        }
    }

    @each $color in $mud-palette-colors {
        &.mud-button-group-filled-#{$color} {
            .mud-button {
                color: var(--mud-palette-#{$color}-text);
                background-color: var(--mud-palette-#{$color});

                &:hover {
                    box-shadow: var(--mud-elevation-4);
                    background-color: var(--mud-palette-#{$color}-darken);
                }
            }

            &.mud-button-group-horizontal {
                .mud-button:not(:last-child) {
                    border-right: 1px solid var(--mud-palette-#{$color}-lighten);
                }
            }

            &.mud-button-group-vertical {
                .mud-button:not(:last-child) {
                    border-bottom: 1px solid var(--mud-palette-#{$color}-lighten);
                }
            }
        }
    }
}
.mud-button-group-disable-elevation {
    box-shadow: none;
}